.lp-slide-content__transcripts,
.lp-slide-content__title,
.lp-slide-content__body {
    margin: 1rem auto;
}

.lp-slide-content__image-wrap img {
    border: 1px solid #ccc;
    max-height: 60vh;
    width: auto;
}

.lp-slide-content.default {
    padding: 0 60px;
}

/*== PROGRESS METER ==*/

#lp-progress {
    height: 16px;
    background: #ddd;
    margin-top: 4rem;
    border-radius: 10px;
    padding: 2px;
}

#lp-progress-inner {
    background: #002657;
    height: 100%;
    border-radius: 8px;
    width: 2%;
    transition: width 300ms;
}

.lp-slider:focus,
.lp-slider:focus-within {
    outline: auto;
}